
@-webkit-keyframes PlayingMusic {
    
    0% {
        background-position: 0% 49%
    }

    50% {
        background-position: 100% 52%
    }

    100% {
        background-position: 0% 49%
    }

}

@-moz-keyframes PlayingMusic {
    0% {
        background-position: 0% 49%
    }

    50% {
        background-position: 100% 52%
    }

    100% {
        background-position: 0% 49%
    }
}

@-o-keyframes PlayingMusic {
    0% {
        background-position: 0% 49%
    }

    50% {
        background-position: 100% 52%
    }

    100% {
        background-position: 0% 49%
    }
}

@keyframes PlayingMusic {
    0% {
        background-position: 0% 49%
    }

    50% {
        background-position: 100% 52%
    }

    100% {
        background-position: 0% 49%
    }
}








@-webkit-keyframes StopMusic {
    0% {
        background-position: 0% 49%;
           
    }

    50% {
        background-position: 100% 52%;
          
    }

    100% {
        background-position: 0% 49%;
          
    }
}

@-moz-keyframes StopMusic {
    0% {
       
        background-position: 0% 49%;
           
    }

    50% {
        background-position: 100% 52%;
          

    }

    100% {
        background-position: 0% 49%;
          
    }
}

@-o-keyframes StopMusic {
    0% {

        background-position: 0% 49%;
           
    }

    50% {
        background-position: 100% 52%;
          
    }

    100% {
        background-position: 0% 49%;
          
    }
}

@keyframes StopMusic {
    0% {

        background-position: 0% 49%;
           
    }

    50% {
        background-position: 100% 52%;
          

    }

    100% {
        background-position: 0% 49%;
          
    }
}